body {
  font-family: Arial, sans-serif;
}
.banner {
  background-image: url("https://cdni.iconscout.com/illustration/free/preview/web-development-2933380-2463833.png?w=0&h=700");
  height: 600px;
}
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 45px;
  margin-top: 0px;
  padding-top: 490px;
  margin-bottom: 80px;
  text-transform: uppercase;
}
navbar {
  position: fixed;
  background-color: #D6EAF8;
  width: 100%;
  z-index: 10;
  margin: 0;
  padding: 4px 0;
}
a:link, a:visited {
  background-color: #7FB3D5;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}
a:hover, a:active {
  background-color: red;
}
table {
  border: 2px solid #1F618D;
  width: 100%;
}
thead {
  font-weight: bold;
  background-color: #7FB3D5;
  margin:30px;
}
td {
  padding: 5px;
}
